<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>
<!-- Begin Cookie Consent script http://cookie-consent.org/ -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-bottom"}; var cookieconsent_id = '821c49f3-ed10-42ad-bf2c-692ac18ef34f';</script>

<script type="text/javascript" src="//cdn.front.to/libs/cookieconsent.min.js"></script>

<noscript><a href="http://cookie-consent.org/">EU cookie consent script</a></noscript>
<!-- End Cookie Consent script -->

  </body>
</html>

